In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('order_export.csv',sep='\t')

C:\Users\LAPTOP WORLD\AppData\Local\Temp\ipykernel_26360\3139266249.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('order_export.csv',sep='\t')

In [6]:
data.head()

,state,store_id,country_id,name,customer_is_guest,increment_id,created_at,subtotal,total_item_count,sku,qty_ordered,row_total_incl_tax
0,complete,3,FR,Français,0,300039997,2014-05-01 05:34:34,42.1488,1,246265,1.0,51.00
1,complete,13,BE,Belgium/Français,0,1300003752,2014-05-01 06:48:32,33.0579,1,371882,1.0,40.00
2,complete,3,FR,Français,0,300039998,2014-05-01 06:53:09,179.5455,5,363863,1.0,29.25
3,complete,3,FR,Français,0,300039998,2014-05-01 06:53:09,179.5455,5,371820,1.0,13.75
4,complete,3,FR,Français,0,300039998,2014-05-01 06:53:09,179.5455,5,397066,1.0,54.00

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2361822 entries, 0 to 2361821
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   state               object
 1   store_id            int64
 2   country_id          object
 3   name                object
 4   customer_is_guest   int64
 5   increment_id        object
 6   created_at          object
 7   subtotal            float64
 8   total_item_count    int64
 9   sku                 int64
 10  qty_ordered         float64
 11  row_total_incl_tax  float64
dtypes: float64(3), int64(4), object(5)
memory usage: 216.2+ MB

In [8]:
data.head(1000).to_csv('orders_1000.csv',index=False)